local-env/flows.json
[
    {
        "id": "c6cc7badd6dabaa4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73b648a08c2c945b",
        "type": "subflow",
        "name": "Iterate Elements",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "2ce56a8a17709b63"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 20,
                "wires": [
                    {
                        "id": "b5d13040a9bf3c48",
                        "port": 0
                    },
                    {
                        "id": "f5f743fdc85ce388",
                        "port": 0
                    }
                ]
            },
            {
                "x": 640,
                "y": 100,
                "wires": [
                    {
                        "id": "2ce56a8a17709b63",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "2ce56a8a17709b63",
        "type": "counter-loop",
        "z": "73b648a08c2c945b",
        "name": "Generate Elements",
        "counter": "varCounter",
        "counterType": "msg",
        "reset": true,
        "resetValue": "value-null",
        "initial": 0,
        "initialType": "num",
        "operator": "lt",
        "termination": "totalElements",
        "terminationType": "msg",
        "increment": 1,
        "incrementType": "num",
        "x": 350,
        "y": 60,
        "wires": [
            [
                "b5d13040a9bf3c48"
            ],
            [
                "782476b28c0f68d4",
                "f5f743fdc85ce388"
            ]
        ]
    },
    {
        "id": "782476b28c0f68d4",
        "type": "function",
        "z": "73b648a08c2c945b",
        "name": "Loop Next",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 120,
        "wires": [
            [
                "2ce56a8a17709b63"
            ]
        ]
    },
    {
        "id": "b5d13040a9bf3c48",
        "type": "function",
        "z": "73b648a08c2c945b",
        "name": "Done",
        "func": "msg.payload = 'Done';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "f5f743fdc85ce388",
        "type": "function",
        "z": "73b648a08c2c945b",
        "name": "Adding",
        "func": "msg.payload = `Adding ${msg.varCounter}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "0bfa8732a2ca82d6",
        "type": "event-manager-dispatcher",
        "z": "c6cc7badd6dabaa4",
        "name": "Control Flow",
        "maxConcurrency": "30",
        "debugStatus": "false",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "906592f2bfa852e3"
            ]
        ]
    },
    {
        "id": "8576441c189ede6f",
        "type": "debug",
        "z": "c6cc7badd6dabaa4",
        "name": "Injection Status",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 800,
        "y": 40,
        "wires": []
    },
    {
        "id": "3c51f93cf5ea3113",
        "type": "inject",
        "z": "c6cc7badd6dabaa4",
        "name": "Generate 100 elements",
        "props": [
            {
                "p": "totalElements",
                "v": "100",
                "vt": "num"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "9e5d75758222171c"
            ]
        ]
    },
    {
        "id": "d31af76c85a534b8",
        "type": "debug",
        "z": "c6cc7badd6dabaa4",
        "name": "Last Msg Completed",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "varCounter",
        "targetType": "msg",
        "statusVal": "varCounter",
        "statusType": "auto",
        "x": 780,
        "y": 140,
        "wires": []
    },
    {
        "id": "906592f2bfa852e3",
        "type": "delay",
        "z": "c6cc7badd6dabaa4",
        "name": "Execute Code",
        "pauseType": "random",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1000",
        "randomLast": "3000",
        "randomUnits": "milliseconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "d31af76c85a534b8",
                "82baa1594e234933"
            ]
        ]
    },
    {
        "id": "82baa1594e234933",
        "type": "event-manager-checkpoint",
        "z": "c6cc7badd6dabaa4",
        "name": "Control Flow Checkpoint",
        "debugStatus": "false",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "b33381f4ecd6b8f4",
        "type": "inject",
        "z": "c6cc7badd6dabaa4",
        "name": "Configure Max Concurrency",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"isEventManagerConfig\": \"true\", \"maxConcurrency\": 10}",
        "payloadType": "json",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "0bfa8732a2ca82d6"
            ]
        ]
    },
    {
        "id": "9e5d75758222171c",
        "type": "subflow:73b648a08c2c945b",
        "z": "c6cc7badd6dabaa4",
        "name": "",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "8576441c189ede6f"
            ],
            [
                "0bfa8732a2ca82d6"
            ]
        ]
    }
]